---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic NHU4RURjNEdzQWpQNDFzM2ZCUnJXVjJOUjpGM1R2OEFHd2tvbkRQYVpkTmJKdTVjV3U2UjFwQXpGTEVRWm9RVVUybzk2RGtPRlV1Qw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 19 May 2018 19:34:06 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - d624894fb880784ccef57ae69b8d835b
      X-Response-Time:
      - '123'
      X-Transaction:
      - 005f4da500afd284
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAKmx6AAAAAAAiiUTUgaM0B0GzCKK4BZppuXF4CQ%3DyCertKv5alb4wZl7u8J7SUwEP0tzODBfORxbQNMzP6nHLuwDfB"}'
  recorded_at: Sat, 19 May 2018 19:34:06 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=adjust
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKmx6AAAAAAAiiUTUgaM0B0GzCKK4BZppuXF4CQ%3DyCertKv5alb4wZl7u8J7SUwEP0tzODBfORxbQNMzP6nHLuwDfB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 19 May 2018 19:34:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 914125cf4d6a06880fda75a025016c2f
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '448'
      X-Rate-Limit-Reset:
      - '1526759164'
      X-Response-Time:
      - '297'
      X-Transaction:
      - 00bca7d80015c5ef
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sat May 19 19:33:43 +0000 2018","id":997923274817449984,"id_str":"997923274817449984","text":"Just
        finished a dog walk on Wag! Use my promo code \"NORAH34675\" for $50 of FREE
        Wag credit! https:\/\/t.co\/p8NFmNPi0J https:\/\/t.co\/7RR60dn8hs","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/p8NFmNPi0J","expanded_url":"https:\/\/app.adjust.com\/2m4vhs","display_url":"app.adjust.com\/2m4vhs","indices":[92,115]}],"media":[{"id":997923273726980097,"id_str":"997923273726980097","indices":[116,139],"media_url":"http:\/\/pbs.twimg.com\/media\/DdlV7iOXcAExXv5.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DdlV7iOXcAExXv5.jpg","url":"https:\/\/t.co\/7RR60dn8hs","display_url":"pic.twitter.com\/7RR60dn8hs","expanded_url":"https:\/\/twitter.com\/NorahNell\/status\/997923274817449984\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":640,"h":640,"resize":"fit"},"large":{"w":640,"h":640,"resize":"fit"},"medium":{"w":640,"h":640,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":997923273726980097,"id_str":"997923273726980097","indices":[116,139],"media_url":"http:\/\/pbs.twimg.com\/media\/DdlV7iOXcAExXv5.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DdlV7iOXcAExXv5.jpg","url":"https:\/\/t.co\/7RR60dn8hs","display_url":"pic.twitter.com\/7RR60dn8hs","expanded_url":"https:\/\/twitter.com\/NorahNell\/status\/997923274817449984\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":640,"h":640,"resize":"fit"},"large":{"w":640,"h":640,"resize":"fit"},"medium":{"w":640,"h":640,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":29844907,"id_str":"29844907","name":"Norah","screen_name":"NorahNell","location":"NYC","description":"otherwise
        known as Daughter by @killerparrot :)","url":"https:\/\/t.co\/wdy1eo4Lgz","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/wdy1eo4Lgz","expanded_url":"https:\/\/www.youcaring.com\/AliceandPenne","display_url":"youcaring.com\/AliceandPenne","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":722,"friends_count":1805,"listed_count":6,"created_at":"Wed
        Apr 08 22:47:04 +0000 2009","favourites_count":11413,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":10298,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/997443976276856833\/rMc7-xX7_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/997443976276856833\/rMc7-xX7_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/29844907\/1519000875","profile_link_color":"FF0000","profile_sidebar_border_color":"65B0DA","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        May 19 19:33:30 +0000 2018","id":997923217363914757,"id_str":"997923217363914757","text":"Tik
        op de link en verdien beloningen voor jou en mij in @FarmVille2! #farmrewards
        https:\/\/t.co\/MUf6AMvsgx https:\/\/t.co\/oPFNJ3G0Wx","truncated":false,"entities":{"hashtags":[{"text":"farmrewards","indices":[69,81]}],"symbols":[],"user_mentions":[{"screen_name":"farmville2","name":"FarmVille
        2","id":611930922,"id_str":"611930922","indices":[56,67]}],"urls":[{"url":"https:\/\/t.co\/MUf6AMvsgx","expanded_url":"https:\/\/app.adjust.com\/vljh4m_25shc4?deep_link=farmville2countryescaperewards%3A%2F%2FIncentLink?actionParams=92F3DZWXA8JB4WKY9SLDAQSNJKHEAYJXCQPG22MYRSLGD5QDZVL[...]
