---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic NHU4RURjNEdzQWpQNDFzM2ZCUnJXVjJOUjpGM1R2OEFHd2tvbkRQYVpkTmJKdTVjV3U2UjFwQXpGTEVRWm9RVVUybzk2RGtPRlV1Qw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 19 May 2018 20:21:58 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 5350adc8c8b328f0e757e89646904c0e
      X-Response-Time:
      - '133'
      X-Transaction:
      - 0051c01500d1f051
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAKmx6AAAAAAAiiUTUgaM0B0GzCKK4BZppuXF4CQ%3DyCertKv5alb4wZl7u8J7SUwEP0tzODBfORxbQNMzP6nHLuwDfB"}'
  recorded_at: Sat, 19 May 2018 20:21:58 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=adjust
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKmx6AAAAAAAiiUTUgaM0B0GzCKK4BZppuXF4CQ%3DyCertKv5alb4wZl7u8J7SUwEP0tzODBfORxbQNMzP6nHLuwDfB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 19 May 2018 20:21:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ba1a80c6f29af9ebc966eb212fb09426
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '448'
      X-Rate-Limit-Reset:
      - '1526761986'
      X-Response-Time:
      - '319'
      X-Transaction:
      - '009f696f00bc0757'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sat May 19 20:21:37 +0000 2018","id":997935327867269121,"id_str":"997935327867269121","text":"Let\u2019s
        earn rewards in @Farmville2! Follow the URL to win! #farmrewards https:\/\/t.co\/dEQJUS64HG
        https:\/\/t.co\/OMgZNUNDWO","truncated":false,"entities":{"hashtags":[{"text":"farmrewards","indices":[58,70]}],"symbols":[],"user_mentions":[{"screen_name":"farmville2","name":"FarmVille
        2","id":611930922,"id_str":"611930922","indices":[22,33]}],"urls":[{"url":"https:\/\/t.co\/dEQJUS64HG","expanded_url":"https:\/\/app.adjust.com\/vljh4m_25shc4?deep_link=farmville2countryescaperewards%3A%2F%2FIncentLink?actionParams=92F3DZWXA8JB4WKY9SLDAQSNJKG34L59J9J6R87ET25RSDRYZ48V5JM7ASE7G6TL7V5RZEDHV6H7E9FCGHLLL6CY5M6YZRTMDXN8TLQ","display_url":"app.adjust.com\/vljh4m_25shc4?\u2026","indices":[71,94]}],"media":[{"id":997935326269181952,"id_str":"997935326269181952","indices":[95,118],"media_url":"http:\/\/pbs.twimg.com\/media\/Ddlg5FcWkAAL5Ek.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Ddlg5FcWkAAL5Ek.jpg","url":"https:\/\/t.co\/OMgZNUNDWO","display_url":"pic.twitter.com\/OMgZNUNDWO","expanded_url":"https:\/\/twitter.com\/bbp32696478\/status\/997935327867269121\/photo\/1","type":"photo","sizes":{"large":{"w":440,"h":220,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":440,"h":220,"resize":"fit"},"small":{"w":440,"h":220,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":997935326269181952,"id_str":"997935326269181952","indices":[95,118],"media_url":"http:\/\/pbs.twimg.com\/media\/Ddlg5FcWkAAL5Ek.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Ddlg5FcWkAAL5Ek.jpg","url":"https:\/\/t.co\/OMgZNUNDWO","display_url":"pic.twitter.com\/OMgZNUNDWO","expanded_url":"https:\/\/twitter.com\/bbp32696478\/status\/997935327867269121\/photo\/1","type":"photo","sizes":{"large":{"w":440,"h":220,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":440,"h":220,"resize":"fit"},"small":{"w":440,"h":220,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/#!\/download\/ipad\" rel=\"nofollow\"\u003eTwitter
        for iPad\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":996323633000787969,"id_str":"996323633000787969","name":"bbp","screen_name":"bbp32696478","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Tue
        May 15 09:37:19 +0000 2018","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        May 19 20:21:31 +0000 2018","id":997935304316145664,"id_str":"997935304316145664","text":"RT
        @The100S5: Octavia leads her people towards Shallow Valley against the advice
        of Clarke and Bellamy. Meanwhile, Kane and Abby adjust to\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"The100S5","name":"The
        100 S5 News","id":3457873589,"id_str":"3457873589","indices":[3,12]}],"urls":[]},"[...]
